/* CSS Style reset */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  
  
}
header{
  background: linear-gradient(to right, #6B9CA2, #986D3A);
  
}

.container{
  background-image: url(images/Frame\ 5.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
}

span{
  color: #6B9CA2;
  
}
.herodiv-mobile{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 70px;
 
}
.herodiv{
  display: none;
}
.h1-hero{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 3px;
}
.btn{
  background: linear-gradient(to right, #c9580d, #986D3A);
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  padding: 20px 15px;
  font-size: 18px;
  color: #F5F5F5;
  font-weight: 600;
  border: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2ms;
}
.btn:hover{
  cursor: pointer;
  background: transparent;
  color:#F5F5F5;
  border: none;

  
}
h1{
  font-family: 'Raleway', sans-serif;
}


.logo img {
  max-width: 100px;
  margin: 16px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar ul li a{
  color: rgb(43, 42, 42);
  font-size: 16px;
}
.navbar ul li a:hover{
  color: #6B9CA2;
}

.pclass{
  color: #bbbbbb;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-inline-start: 3px solid;
  border-block-end: 3px solid;
  border-image-source: radial-gradient(circle at top left, #094A72,transparent );
  border-image-slice: 1;
  padding: 10px;
  
  
}
.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(85, 84, 84);
  margin: 5px 0;
}

.menu-icon{
  margin-right: 16px;
  cursor: pointer;
  display: none;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

#check{
  display: none;
}
.about-section{

  background-color: #F5F5F5;
  overflow: hidden;
  padding: 100px 0;
}
.inner-cont{
  display: flex;
  gap: 20px;
  background-color: #fdfdfd;
  padding: 50px;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  margin: 30px;

}
.content{
  padding: 30px;
}
.img-about img{
  width: 100%;
}
.ascent{

  color: #986D3A;
  font-family: 'Raleway', sans-serif;
  margin: 5px;
}
.content h1{
  text-align: center;
  margin-bottom: 30px;
 
}
.mission{
  color: #986D3A;
  font-size: 16px;
  font-weight: 600;
}
.text-about{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  
}
  

.btn-services{
  background: linear-gradient(to right, #c9580d, #986D3A);
  padding: 20px 15px;
  font-size: 18px;
  color: #F5F5F5;
  font-weight: 600;
  border: none;
  font-family: 'Open Sans', sans-serif;
  transition: 0.2ms;
  margin-left: 45%;
  margin-top: 24px;
  transition: transform 0.3s;

}
.btn-services:hover{
  transform: scale(1.1);
  cursor: pointer;
  
}
.services-container{
  background: #fff;
}

.testimonial{
  height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
  margin-top: 60px;
}
.container-testimonial{
  max-width: 1200;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.testi{
  max-width: 900px;
  margin: 0 auto;
}

.testi .thumbnail{
  width: 150px;
  height: 150px;
  position: relative;
  flex-shrink: 0;
}

.testi .head{
  text-align: center;
  margin-bottom: 60px;
}
.testi .head h2{
  
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}
.testi .wrapper-t{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 30px 0;
}
.testi .thumbnail img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(2);
  transition: transform .5s;
}
.testi .swiper-slide-active .thumbnail img{
  transform: scale(1);
}
.testi .thumbnail::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 30px);
  height: calc(100% + 10px);
  background-color: #a5e1e9;
  border-radius: 50%;
  z-index: -1;
  box-shadow: rgb(0, 0, 2/ 35%) 0px 20px 30px -10px;
  transition: border-radius .5s .3s;
}
.testi .swiper-slide-active .thumbnail::before{
  border-radius: 34% 67% 50% 50% / 50% 14% 86% 50%;

}
.testi .aside-testi{
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.testi .aside-testi > p{
  
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateX(10%);
  transition: transform 1s, opacity 1s;
}
.testi .swiper-slide-active .aside-testi > p{
  transform: translateX(0);
  opacity: 1;
}
.testi .aside-testi > p::before,
.testi .aside-testi > p::after{
  font-family: serif;
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  position: absolute;
  color: rgb(196, 194, 194);
  height: 40px;
  z-index: -1;

}
.testi .aside-testi > p::before{
  content: open-quote;
  top: -40px;
  left: 10px;

}
.testi .aside-testi > p::after{
  content: close-quote;
  right: 0;

}

.testi .aside-testi .name h4{
  font-size: 22px;
  font-weight: 600px;
  color: #986D3A;
  opacity: .8;
  font-family: 'Raleway', sans-serif;
  
}
.testi .aside-testi .name p{
  font-size: 14px;
  text-align: right;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;

}
.testi :is(.swiper-button-next, .swiper-button-prev) {
  background-color: rgb(196, 194, 194);
  top: 35%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  transition: background-color .3s;
  box-shadow: rgb(0, 0, 2/ 35%) 0px 20px 30px -10px;
  
}
.testi :is(.swiper-button-next, .swiper-button-prev):hover{
  background-color: #986D3A;
  opacity: .8;
  
}

.testi :is(.swiper-button-next, .swiper-button-prev)::after{
  font-size: 16px;
  font-weight: 600;
  color: #fff;



}

.testi .swiper-pagination {
  position: relative;


 
}

.testi .swiper-pagination span {
  background-color: rgb(196, 194, 194);
  transition: width .3s;
  opacity: 1;
  

 
}
.testi .swiper-pagination .swiper-pagination-bullet-active{
  width: 26px;
  border-radius: 4px;
  background-color: #986D3A;

}


















/* Style for desktop Screens 1200 and above */
@media screen and (min-width: 1200px){
  .list-items{
    display: flex;
    gap: 1rem;
  }
  .container{
    background-image: url(images/Frame\ 5.png);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 88vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    position: relative;
  }
  .container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000073;
  }
  .pclass{
    color: #bbbbbb;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-inline-start: 3px solid;
    border-block-end: 3px solid;
    border-image-source: radial-gradient(circle at top left, transparent,#094A72 );
    border-image-slice: 1;
    padding: 20px;
    
  }
  .herodiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .herodiv-mobile{
    display: none;
  }
  .btn{
    border: solid #986D3A;
    background: transparent;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    padding: 25px 20px;
    font-size: 24px;
    color: #986D3A;
    font-weight: 500;
  
    
    font-family: 'Open Sans', sans-serif;
    transition: 0.2ms;
  }
  .btn:hover{
    color:#F5F5F5;
    cursor: pointer;
    background: linear-gradient(to right, #c9580d, #986D3A);
    
  }  
  
  .about-section{

    background-color: #F5F5F5;
    overflow: hidden;
    padding: 100px 0;
  }
  .inner-cont{
    display: flex;
    gap: 20px;
    background-color: #fdfdfd;
    padding: 50px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
    margin: 30px;

  }
  .content{
    padding: 30px;
  }
  .img-about img{
    width: 100%;
  }
  .ascent{
    font-size: 34px;
    color: #986D3A;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
  }
  .content h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
  }
  .mission{
    color: #986D3A;
    font-size: 16px;
    font-weight: 600;
  }
  .text-about{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
  }
  .slider{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 10px;
  }
  .content-services{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    

  }
  .content-services img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }
  .content-services:hover img{
    transform: scale(1.1);
    cursor: pointer;
    
  }
  .content-services:hover .layer{
    height: 100%;
  }

  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #121313);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: height 0.5s;


  }
  .layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .layer p{
    color: #fff;
    text-align: center;
  }
  .layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    color: #6B9CA2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F5F5F5;
    text-align: center;
    
  }
  .ctas-button{
    display: block;
    margin-left: 43%;
  }
 

  hr{
    border-top: 1px solid #e7e7e773;
    

  }
  .testi .aside-testi .name{
    position: relative;
    width: fit-content;
    line-height: 1;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 1s .2s, opacity 1s .3s;
  
  }
  .testi .swiper-slide-active .name{
    transform: translateX(0);
    opacity: 1;
  }
  .testi .swiper-slide-active .name{
    transform: translateX(-50px);
  }
  
      
  
}

/* style for menu-icon on smaller screens */
@media (max-width: 767px){
  .list-items{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:rgba(107, 156, 162,0.2);
    top: 80px;
    right: -100%;
    text-align: center;
    font-weight: 600;
    transition: all .5s;
    
  }
  .menu-icon{
    display: block;
    margin-top: 30px;
  }
 
  

}
@media (max-width: 850px){
 


  .navbar ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;

    
  }
  .navbar ul li a{
    font-size: 20px;
    
  }
  .navbar ul li:hover{
    background: #6B9CA2;
  }
  #check:checked ~ .list-items{
    right: 0;
    
  }
  #check:checked + .menu-icon{
  transform: translate(-50%, -50%) rotateY(100deg);
  }
  .pclass{
    display: none;
  }
  .ascent{
    font-size: 20px;
    color: #986D3A;
    font-family: 'Raleway', sans-serif;
  
  }
  .content h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
  }
  .mission{
    color: #986D3A;
    font-size: 18px;
    font-weight: 600;
  }
  .text-about{
    font-size: 13px;
    color: #545454;
    line-height: 22px;
    text-align: start;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
  }
  .about-section{
    min-height: 100vh;
    background-color: #F5F5F5;
    overflow: hidden;
    padding: 20px 0;
  }
  .inner-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
   
    padding: 50px;
    margin: 10px;

    background-color: #fdfdfd;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);

  }
  .img-about img{
    width: 100%
  }
  .btn:hover{
    cursor: pointer;
    background: transparent;
    color:#F5F5F5;
    border: 2px solid #F5F5F5
    
  
    
  }

  .services-container{
    padding: 2rem;
    
  }
  .slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 8px;
  }
  .content-services{
    border-radius: px;
    position: relative;
    overflow: hidden;
    width: 80%;
    


  }
  .content-services img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
  }
  .content-services:hover img{
    transform: scale(1.1);
    cursor: pointer;
    
  }
  .content-services:hover .layer{
    height: 100%;
  }

  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #121313);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: height 0.5s;


  }
  .layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .layer p{
    color: #fff;
    text-align: center;
  }
  .layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    color: #6B9CA2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #F5F5F5;
    text-align: center;
    
  }

  
  .ctas-button{
    display: block;
    margin-left: 22%;
    padding: 14px 50px;
    border: 1px solid #c9580d;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background: #A35813;
    transition: background 0.5s;
    margin-top: 10px;
    
   
  }
  .ctas-button:hover{
    box-shadow: 4px 4px 4px 0px gray;
    transition: box-shadow .5s;

  }
  .testimonial{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-testimonial{
    max-width: 1200;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
  .testi{
    max-width: 900px;
    margin: 0 auto;
  }
  
  .testi .thumbnail{
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
  }
  
  .testi .head{
    text-align: center;
    margin-bottom: 60px;
  }
  .testi .head h3{
    font-size: 34px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }
  .testi .wrapper-t{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 30px 0;
  }
  .testi .thumbnail img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .testi .thumbnail::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% + 30px);
    height: calc(100% + 10px);
    background-color: #a5e1e9;
    border-radius: 50%;
    z-index: -1;
    box-shadow: rgb(0, 0, 2/ 35%) 0px 20px 30px -10px;
    transition: border-radius .5s .3s;
  }
  .testi .swiper-slide-active .thumbnail::before{
    border-radius: 34% 67% 50% 50% / 50% 14% 86% 50%;
  
  }
  .testi .aside-testi{
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  .testi .aside-testi > p{
    font-size: 14px;
    line-height: normal;
    margin-bottom: 30px;
  }
  .testi .aside-testi > p::before,
  .testi .aside-testi > p::after{
    font-family: serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    color: rgb(196, 194, 194);
    height: 40px;
    z-index: -1;
  
  }
  .testi .aside-testi > p::before{
    content: open-quote;
    top: -40px;
    left: 10px;
  
  }
  .testi .aside-testi > p::after{
    content: close-quote;
    right: 0;
  
  }
  .testi .aside-testi .name{
    position: relative;
    width: fit-content;
    line-height: 1;
  
  }
  .testi .aside-testi .name{
    position: relative;
    width: fit-content;
    line-height: 1;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 1s .2s, opacity 1s .3s;
  
  }
  .testi .swiper-slide-active .name{
    transform: translateX(0);
    opacity: 1;
  }
  
  .testi .aside-testi .name h4{
    font-size: 22px;
    font-weight: 600px;
    color: #986D3A;
    opacity: .8;
    font-family: 'Raleway', sans-serif;
    
  }
  .testi .aside-testi .name p{
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  
  }
  .testi :is(.swiper-button-next, .swiper-button-prev) {
    background-color: rgb(196, 194, 194);
    top: 35%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: background-color .3s;
    box-shadow: rgb(0, 0, 2/ 35%) 0px 20px 30px -10px;
    
  }
  .testi :is(.swiper-button-next, .swiper-button-prev):hover{
    background-color: #986D3A;
    opacity: .8;
    
  }
  
  .testi :is(.swiper-button-next, .swiper-button-prev)::after{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
  
  
  
  }
  
  .testi .swiper-pagination {
    position: relative;
  
  
   
  }
  
  .testi .swiper-pagination span {
    background-color: rgb(196, 194, 194);
    transition: width .3s;
    opacity: 1;
    
  
   
  }
  .testi .swiper-pagination .swiper-pagination-bullet-active{
    width: 26px;
    border-radius: 4px;
    background-color: #986D3A;
  
  }
  
  
 


}





@media screen and (min-width: 768px){
  .list-items{
    display: flex;
    gap: 1rem;
    margin-right: 32px;
    
  }
  .slider{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 10px;
  }
  .content-services{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

  }
  .content-services img{
    width: 100%;
    border-radius: 10px;
    display: block;
  }

  .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #121313);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    transition: height 0.5s;


  }
  .layer h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .layer p{
    color: #fff;
    text-align: center;
  }
  .btn-services{
    background: linear-gradient(to right, #c9580d, #986D3A);
    padding: 20px 15px;
    font-size: 18px;
    color: #F5F5F5;
    font-weight: 600;
    border: none;
    font-family: 'Open Sans', sans-serif;
    transition: 0.2ms;
    margin-left: 45%;
    margin-top: 24px;
    transition: transform 0.3s;
  
  }
  .btn-services:hover{
    transform: scale(1.1);
    cursor: pointer;
    
  }
  .content-services{

  }
  .content-services img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
  }
  .content-services:hover img{
    transform: scale(1.1);
    cursor: pointer;
    
  }
  .content-services:hover .layer{
    height: 100%;
  }
  .ctas-button{
    display: block;
    margin-left: 43%;
    padding: 14px 50px;
    border: 1px solid #A35813;
    width: fit-content;
    text-decoration: none;
    color: #fff;
    background: #A35813;
    transition: background 0.5s;
   
  }
  .ctas-button:hover{
    
    box-shadow: 4px 4px 4px 0px gray;

  }
  .services-container{
    background: #fff;
  }

  .testi .wrapper-t{
    flex-direction: row;
    padding: 30px 100px;
  }
  .testi .thumbnail{
    width: 200px;
    height: 200px;
  }
  .testi .aside-testi .name{
    position: relative;
    width: fit-content;
    line-height: 1;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 1s .2s, opacity 1s .3s;
  
  }
  .testi .swiper-slide-active .name{
    transform: translateX(0);
    opacity: 1;
  }
  .testi .swiper-slide-active .name{
    transform: translateX(-50px);
  }
  
  

 

  
  
    


}