/* CSS Style reset */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  
  
}
header{
  background: linear-gradient(to right, #6B9CA2, #986D3A);
  
}

.container{
  background-image: url(images/Frame\ 5.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 10px;
}

span{
  color: #6B9CA2;
}
.herodiv-mobile{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 70px;
 
}
.herodiv{
  display: none;
}
.h1-hero{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 3px;
}
.btn{
  background: linear-gradient(to right, #c9580d, #986D3A);
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  padding: 25px 20px;
  font-size: 24px;
  color: #F5F5F5;
  font-weight: 500;
  border: none;

  
  font-family: 'Open Sans', sans-serif;
  transition: 0.2ms;
}
.btn:hover{
  cursor: pointer;
  background: transparent;
  color:#986D3A;
  border: solid #986D3A;

  
}
h1{
  font-family: 'Raleway', sans-serif;
}


.logo img {
  max-width: 100px;
  margin: 16px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.navbar ul li a{
  color: rgb(43, 42, 42);
  font-size: 16px;
}
.navbar ul li a:hover{
  color: #6B9CA2;
}

.pclass{
  color: #bbbbbb;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  border-inline-start: 3px solid;
  border-block-end: 3px solid;
  border-image-source: radial-gradient(circle at top left, #094A72,transparent );
  border-image-slice: 1;
  padding: 10px;
  
  
}
.bar {
  width: 25px;
  height: 3px;
  background-color: rgb(85, 84, 84);
  margin: 5px 0;
}

.menu-icon{
  margin-right: 16px;
  cursor: pointer;
  display: none;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

#check{
  display: none;
}

/* Style for desktop Screens 1200 and above */
@media screen and (min-width: 1200px){
  .list-items{
    display: flex;
    gap: 1rem;
  }
  .container{
    background-image: url(images/Frame\ 5.png);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 88vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    position: relative;
  }
  .container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .pclass{
    color: #bbbbbb;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-inline-start: 3px solid;
    border-block-end: 3px solid;
    border-image-source: radial-gradient(circle at top left, transparent,#094A72 );
    border-image-slice: 1;
    padding: 20px;
    
  }
  .herodiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  .herodiv-mobile{
    display: none;
  }
  .btn{
    border: solid #986D3A;
    background: transparent;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    padding: 25px 20px;
    font-size: 24px;
    color: #986D3A;
    font-weight: 500;
  
    
    font-family: 'Open Sans', sans-serif;
    transition: 0.2ms;
  }
  .btn:hover{
    color:#F5F5F5;
    cursor: pointer;
    background: linear-gradient(to right, #c9580d, #986D3A);
  }  
  
  
  
}

/* style for menu-icon on smaller screens */
@media (max-width: 850px){
  .menu-icon{
    display: block;
    margin-top: 30px;
  }
  .list-items{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color:rgba(107, 156, 162,0.2);
    top: 80px;
    right: -100%;
    text-align: center;
    font-weight: 600;
    transition: all .5s;
    
  }

  .navbar ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;

    
  }
  .navbar ul li a{
    font-size: 20px;
    
  }
  .navbar ul li:hover{
    background: #6B9CA2;
  }
  #check:checked ~ .list-items{
    right: 0;
    
  }
  #check:checked + .menu-icon{
  transform: translate(-50%, -50%) rotateY(100deg);
  }
  .pclass{
    display: none;
  }

}

@media (min-width: 850px){
  .list-items{
    display: flex;
    gap: 1rem;
    margin-right: 32px;
    
  }


}
